*{height: 100%;}

body {
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.table {
    display: table;
    width: 20%;
    height: auto;
}

.banner section {
    /* select all the section elements inside an element that has a banner style*/
    display: table-row;
    width: 100%;
}

.banner section h1 {
    width: 60%;    
    font-size: 3em;
    text-align: center;
    color: green;
}


h2 {
    color: white;
    color: white;
    font-size: 30pt;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Bradley Hand;
    height: auto;
}

.banner section {
    /* select all the section elements inside an element that has a banner style*/
    display: table-row;
    width: 100%;
}

.banner section h1 {
    width: 60%;
    
    font-size: 3em;
    text-align: center;
    color: green;
}


h2 {
    color: white;
    font-size: 30pt;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: Bradley Hand;
    height: 100%;    
    background-color: lightblue;
}

.table .profileName {
    margin-top: 20%;
}

.table .navBar {
    margin-left: 5%;
}

.table section {
    display: table-row;
}

.table section img {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20%;
    margin-bottom: 20%;
    width: 100%;
    height: 100%;
}

.table-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
