<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Goals </title>
    <meta name="description" content="">
    <link rel="stylesheet" href="app/css/goalStyle.css">
</head>

<body>
    <h1> Goals </h1>
    
    <section id="ongoing">
        <div class="binGoal">
            <h3 class="goalHead"> Maintain minimum of $1000 in your chequing account </h3>
            <script> 
             
            
            </script>
            <img id = "checkImg" src="app/images/completed.png">
        </div>

        <div class="progressGoal">
            <h3 class="goalHead"> Make your monthly mortgage payment </h3>
            <img src = "app/images/progressBar.png">  
        </div>
        
        <div class 
        
        
    </section>
    
    <section id="finished"> 
    
    </section>






</body>
