<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title> Goals </title>
    <meta name="description" content="">
    <link rel="stylesheet" href="../css/goalStyle.css">
</head>

<body>
    <h1> Goals </h1>

    <section id="ongoing">
        <div class="binGoal">
            <h3 class="goalHead"> Maintain minimum of $1000 in your chequing account </h3>

            <div class="goalImage">
                <img src="../images/completed.png" > 
            </div>
        </div>

        <div class="progressGoal">
            <h3 class="goalHead"> Make your monthly mortgage payment </h3>
            <div id="goalImage">
                <img src="../images/incomplete.png">
            </div>
        </div>
        
        <div class="ongoing"
   
   
    </section>

    <section id="finished">

    </section>






</body>
