<header class="banner">
    <section>
        <img src="app/images/IMG_20170922_140956.jpg" class="img-responsive"/>
    </section>
  </header>
    <uib-tabset active="activePill" vertical="true" type="pills">
        <uib-tab index="0" heading="Vertical 1">Profile</uib-tab>
        <uib-tab index="1" heading="Vertical 2">Goals</uib-tab>
        <uib-tab index="2" heading="Vertical 2">Goals</uib-tab>
    </uib-tabset>
  <div class="animated fadeInLeft">
    <h2 align="center">Acoustic</h2>
  </div>
  <div>
    <lable style="font-size: 20px;"><kbd>Search Song</kbd><input type="text" class="form-control" ng-model="filter.song"></label>
  </div>