<header class="table">
    <section>
        <div class="row">
            <section>
                <div class="col-md-4">
                    <img src="app/images/stockDP.jpg" class="img-responsive" />
                </div>
                <div class="col-md-4">
                    <div class="profileName">Bob Smith</div>
                </div>
            </section>

            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Profile')">Profile</button>
                <button class="tablinks" onclick="openTab(event, 'Goals')">Goals</button>
                <button class="tablinks" onclick="openTab(event, 'Overview')">Overview</button>
            </div>

            <div id="Profile">

            </div>
            <div id="Goals">
                <h1> Goals </h1>

                <section id="ongoing">
                    <div class="binGoal">
                        <h3 class="goalHead"> Maintain minimum of $1000 in your chequing account </h3>

                        <div class="goalImage">
                            <img src="../images/completed.png">
                        </div>
                    </div>

                    <div class="progressGoal">
                        <h3 class="goalHead"> Make your monthly mortgage payment </h3>
                        <div id="goalImage">
                            <img src="../images/incomplete.png">
                        </div>
                    </div>

                    <div class="ongoing" </section>

                        <section id="finished">

                        </section>
                    </div>
                    <div id="Overview">

                    </div>
            </div>
            </section>
</header>
