<header class="banner">
    <section>
        <img src="app/images/IMG_20170922_140956.jpg" class="img-responsive"/>
    </section>
    <br>
    <br>
    <style type="text/css">
        form.tab-form-demo .tab-pane {
            margin: 20px 20px;
        }
    </style>
    <div ng-controller="TabsCtrl">
        <uib-tabset active="activePill" vertical="true" type="pills">
            <uib-tab index="0" heading="Vertical 1">Profile</uib-tab>
            <uib-tab index="1" heading="Vertical 2">Goals</uib-tab>
            <uib-tab index="2" heading="Vertical 2">Overview</uib-tab>
        </uib-tabset>
    </div>
</header>